<%#= render 'shared/sideNav' %>
<div id="sideNav">
  <nav class="nav-bar">
    <ul>
      <li><a href="#banner">Accueil</a></li>

      <li><a href="#feature">Présentation</a></li>
      <li><a href="#service">Photos</a></li>
      <li><a href="#testimonial">Avis</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>
</div>
<div id="menuBtn">
</div>
<div class="banner-blog">
  <%= image_tag "banner.jpg" %>
  <%= link_to root_path do %>
  <h1><span>LC</span> Coiffure</h1>
  <% end %>
  <hr>
  <p>Salon de Coiffure mixte situé à Porticcio en Corse du Sud est heureux de vous souhaitez la Bienvenue
  </p>
</div>
<div class="banner-blog-logo-call">


  <a href="tel:+33685143723"><%= image_tag "phone.png" %></a>

</div>
<section id="service">


<%#= link_to "ajouter une photo", new_article_path  %>
<div class="title-text">
          <p>PHOTOS</p>
          <h1>Quelques moments</h1>
          <% if current_user %>
          <a href= "/articles/new" ><span></span>ajouter une photo</a>

          <button id="hola">
            Click me
          </button>
          <div class="jean_marie" id="jean_marie">
            <div class="jean">
              <h1>Modal are Great</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus reiciendis animi inventore excepturi iure id, maiores laborum, accusantium dolorum tempora voluptates, architecto exercitationem ullam saepe dolores, a et vero. Quidem.</p>
              <button id="hole">shit</button>
            </div>
          </div>
          <% end %>
        </div>

<br>

<div class="articles-box">


<!-- Feature start -->
<ul>
  <% @articles.each do |article| %>
  <div class="single-service">
  <li>
    <% if article.photo.attached? %>
      <%= cl_image_tag article.photo.key, height: 300, width: 400, crop: :fill, gravity: :faces %>
      <%#= cl_image_tag article.photo.key %>
    <% end %>
    <div class="overlay"></div>
    <div class="service-desc">
    <%= article.title %>
    <hr>
    <%= article.description %>
    <% if current_user %>
    <div id="delete-button"><%= link_to "Supprimer", article ,method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    </div>
    <%#= link_to "delete", article ,method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  </div>

  <% end %>
</ul>
<!-- Feature end -->


</div>



</section>





<section id="footer">
      <div class="footer-img"><%= image_tag "lc-logo-ex.png" %></div>
       <div class="title-text">
        <p>CONTACT</p>
        <h1>Nous Rencontrer</h1>
      </div>
        <div class="footer-row">
        <div class="footer-left">
          <h1>Horaires d'Ouverture</h1>
          <p><i class="fas fa-clock"></i>Lundi au Samedi - 9:00 à 12:00 et 14:00 à 19:00 </p>
          <p><i class="fas fa-clock"></i>Dimanche - Fermé </p>

        </div>
        <div class="footer-right">
          <h1>Nous joindre</h1>
          <p>Centre commercial la plage,
            20166 Porticcio,
            France
            <i class="fas fa-map-marker-alt"></i></p>
            <p>exmple@website.com<i class="fas fa-paper-plane"></i></p>
            <p>04 95 71 08 20<i class="fas fa-phone"></i></p>
          </div>
        </div>
        <div class="social-links">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/lccoiffureporticcio/?hl=fr"><i class="fab fa-instagram"></i></a>
        <a href="https://www.pinterest.fr/"><i class="fab fa-pinterest"></i></a>

        <% if user_signed_in? %>
        <%= link_to  destroy_user_session_path, method: :delete do %>
        <i class="fas fa-cut"></i>
        <% end %>
        <% else %>

        <button id="open"><i class="fas fa-cut"></i></button>
        <div class="jean_pierre" id="jean_pierre">
          <div class="jean">
            <div class="connexion">
              <%= render "shared/form-login" %>
              <button id="close">Retour</button>
            </div>
          </div>
          <% end %>
        </div>

          <p>Copyright Graziani2.0</p>
        </section>

























