<%= render 'shared/sideNav' %>
<section id="service">


<%#= link_to "ajouter une photo", new_article_path  %>
<div class="title-text">
          <p>PHOTOS</p>
          <h1>Quelques moments</h1>
          <% if current_user %>
          <a href= "/articles/new" ><span></span>ajouter une photo</a>
          <% end %>
        </div>

<br>

<div class="articles-box">


<!-- Feature start -->
<ul>
  <% @articles.each do |article| %>
  <div class="single-service">
  <li>
    <% if article.photo.attached? %>
      <%#= cl_image_tag article.photo.key, height: 300, width: 400, crop: :fill %>
      <%= cl_image_tag article.photo.key %>
    <% end %>
    <div class="overlay"></div>
    <div class="service-desc">
    <%= article.title %>
    <hr>
    <%= article.description %>
    <% if current_user %>
    <div id="delete-button"><%= link_to "Supprimer", article ,method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    </div>
    <%#= link_to "delete", article ,method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  </div>

  <% end %>
</ul>
<!-- Feature end -->


</div>



</section>
































