<%#= render 'shared/sideNav' %>
<!-- <div id="sideNav">
  <nav class="nav-bar">
    <ul>
      <li><a href="#banner">Accueil</a></li>

      <li><a href="#feature">Présentation</a></li>
      <li><a href="#service">Photos</a></li>
      <li><a href="#testimonial">Avis</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>
</div>
<div id="menuBtn">
</div> -->
<div class="banner-blog">
  <%= image_tag "banner.jpg" %>
  <%= link_to root_path do %>
  <h1><span>LC</span> Coiffure</h1>
  <% end %>
  <hr>
  <p>Salon de Coiffure mixte situé à Porticcio en Corse du Sud est heureux de vous souhaitez la Bienvenue
  </p>
</div>
<div class="banner-blog-logo-call">


  <a href="tel:+33685143723"><%= image_tag "phone.png" %></a>

</div>
<section id="service">


<%#= link_to "ajouter une photo", new_article_path  %>
<div class="title-text">
          <p>PHOTOS</p>
          <h1>Quelques moments</h1>
          <% if current_user %>
          <a href= "/articles/new" ><span></span>ajouter une photo</a>

          <button id="open">
            Click me
          </button>
          <div class="jean_marie" id="jean_marie">
            <div class="jean">
              <h1>Modal are Great</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus reiciendis animi inventore excepturi iure id, maiores laborum, accusantium dolorum tempora voluptates, architecto exercitationem ullam saepe dolores, a et vero. Quidem.</p>
              <button id="close">shit</button>
            </div>
          </div>
          <% end %>
        </div>

<br>

<div class="articles-box">


<!-- Feature start -->
<ul>
  <% @articles.each do |article| %>
  <div class="single-service">
  <li>
    <% if article.photo.attached? %>
      <%= cl_image_tag article.photo.key, height: 300, width: 400, crop: :fill, gravity: :faces %>
      <%#= cl_image_tag article.photo.key %>
    <% end %>
    <div class="overlay"></div>
    <div class="service-desc">
    <%= article.title %>
    <hr>
    <%= article.description %>
    <% if current_user %>
    <div id="delete-button"><%= link_to "Supprimer", article ,method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    </div>
    <%#= link_to "delete", article ,method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  </div>

  <% end %>
</ul>
<!-- Feature end -->


</div>



</section>
































